* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

nav ul {
    background-color: #ff7070;
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: black;
    margin: 0;
    padding: 0 40px;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
}

nav .menu {
    width: 20px;
    height: 20px;
}

.section1 {
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right, #fff3b0, #ffb7eb);
    height: 500px;
}

.content, .pic {
    flex-basis: 50%;
    overflow: hidden;
}

.pic {
    position: relative;
    height: 100%;
}

.pic .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    text-align: left;
    padding: 50px;
}

.content h1 {
    margin-top: 70px;
    margin-bottom: 50px;
}

.content p {
    line-height: 25px;
}

.content button {
    margin-top: 50px;
    border: none;
    background-color: #ff7070;
    color: white;
    padding: 10px;
    width: 30%;
}

.section2 {
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right, #fff3b0, #ffb7eb);
    margin-top: 3px;
}

.image1, .image2, .box {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.image1 {
    padding-left: 105px;
}

.image2 {
    padding-left: 20px;
}

.box {
    justify-content: center;
}

.box-content {
    background-color: #ff7070;
    padding: 20px;
    width: 450px;
    margin-left: 80px;
}

.box-content p, .box-content h1 {
    padding-bottom: 20px;
}

.box-content h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

.click-link {
    display: flex;
    align-items: center;
}

.text {
    border: 2px solid #ff7070;
    background-color: #ff707000;
    color: black;
    margin-right: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.arrow-image {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 20px 0;
    }

    nav .menu {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 20px 0;
    }

    nav .menu {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 768px) {
    .section1 {
        flex-direction: column;
        height: auto;
    }

    .pic, .content {
        flex-basis: 100%;
        width: 100%;
    }

    .content {
        padding: 20px;
        text-align: center;
    }

    .content h1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .content p {
        line-height: 20px;
    }

    .content button {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .pic {
        height: auto;
    }

    .content {
        padding: 10px;
    }

    .content h1 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .content p {
        line-height: 18px;
    }

    .content button {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .section2 {
        flex-direction: column;
        align-items: center;
    }

    .image1, .image2, .box {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
    }

    .image1 {
        padding-bottom: 10px;
    }

    .image2 {
        padding-top: 10px;
    }

    .box {
        margin-left: 0;
        margin-top: 20px;
    }

    .box-content {
        width: 90%;
        margin: 0 auto;
    }

    .box-content h1 {
        font-size: 30px;
    }

    .text {
        margin-right: 5px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .image1, .image2, .box {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .image1 img, .image2 img {
        width: 200px;
        height: auto;
    }

    .box-content {
        width: 100%;
        padding: 10px;
    }

    .box-content h1 {
        font-size: 24px;
    }

    .text {
        margin-right: 5px;
        padding: 6px 12px;
    }
}
@media (min-width: 738px) and (max-width: 1028px) {
    nav
    {
        width: 100%;
    }
    nav ul {
        flex-direction: row;
        align-items: center;
        padding: 5px 0;
    }

    nav a {
        padding: 10px 20px 10px 20px;
        font-size: 13px;
    }

    nav .menu {
        width: 25px;
        height: 25px;
    }

    .section1 {
        flex-direction: row;
        height: auto;
    }

    .pic, .content {
        flex-basis: 50%;
        width: 100%;
    }

    .pic {
        height: auto;
    }

    .content {
        padding: 30px;
        text-align: center;
    }

    .content h1 {
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 28px;
    }

    .content p {
        line-height: 22px;
        font-size: 16px;
    }

    .content button {
        width: 40%;
    }

    .section2 {
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
    }

    .image1, .image2, .box {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0;
        padding-right: 0;
    }
    .image1 img
    {
        width :150px;
        height: 150px;
        margin-left: 50px;
    }
    .image2 img {
        width :150px;
        height: 310px;
        margin-left: 20px;
    }
    .box-content
    {
        margin-left: 50px;
        width: 350px;
    }
    .box-content h1 {
        font-size: 35px;
    }

    .box-content p {
        font-size: 16px;
    }

    .click-link {
        flex-direction: column;
        align-items: left;
    }

    .text {
        margin-right: 8px;
        padding: 9px 18px;
        font-size: 14px;
    }

    .arrow-image {
        width: 22px;
        height: 22px;
    }
}
